# rcslib specific ignores
.bin*
bin[.][0-9]*
*.running
etc/*.trs
src/cms/.deps/
src/cms/.dirstamp
src/node/.deps/
src/node/.dirstamp
src/nt_xdr/.deps/
src/os_intf/.deps/
src/os_intf/.dirstamp
src/posemath/.deps/
src/posemath/.dirstamp
src/print/.deps/
src/print/.dirstamp
src/stg_clss/.deps/
src/stg_clss/.dirstamp
src/test/.deps/
src/test/.dirstamp
src/.deps/
src/.dirstamp
autom4te.cache/
config.status
.deps/
.libs/
.lastbuild
.lastinstall
.multiplatbuilds/
.multiplatinstalls/
.platname_guess_warn
.rtai_guess_warn
.rtlinux_guess_warn
NetBeans/rcsjava/build/
NetBeans/rcsjava/diag_NB.jar
NetBeans/rcsjava/dist/
NetBeans/rcsjava/nbproject/private/
NetBeans/rcsjava/pvjscript.jar
bin
etc/debian_*.def
etc/linux_*.def
include
lib
plat/
NetBeans/librcs_cxx/nbproject/private/
rcsjava_maven/rcslib/release.properties
testtmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*


# Backup files to ignore
*.DS_Store
*.backup
*~
*.bak
*.log
*.dvi
*.toc
*.out

# Latex files to ignore
*.aux
*.blg
*.bbl
*.sav
*.lot
*.spl

# Doxygen files to ignore
Doxyfile

# java class files
*.class


/rcsjava_maven/rcslib/target/
etc/win_vc_2010_express/rcs/rcs.v11.suo
etc/win_vc_2010_express/rcs/Debug/
etc/win_vc_2010_express/rcs/Release/
etc/win_vc_2010_express/rcs/nml_test_read/Debug/
etc/win_vc_2010_express/rcs/nml_test_read/Release/
etc/win_vc_2010_express/rcs/nml_test_server/Debug/
etc/win_vc_2010_express/rcs/nml_test_server/Release/
etc/win_vc_2010_express/rcs/nml_test_write/Debug/
etc/win_vc_2010_express/rcs/nml_test_write/Release/
etc/win_vc_2010_express/rcs/nmlcfg/Debug/
etc/win_vc_2010_express/rcs/nmlcfg/Release/
etc/win_vc_2010_express/rcs/nmlcfgsvr/Debug/
etc/win_vc_2010_express/rcs/nmlcfgsvr/Release/
etc/win_vc_2010_express/rcs/nmltest/Debug/
etc/win_vc_2010_express/rcs/nmltest/Release/
etc/win_vc_2010_express/rcs/rcs.sdf
etc/win_vc_2010_express/rcs/testpmcpp/Debug/
etc/win_vc_2010_express/rcs/testpmcpp/Release/